body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  #timer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  #timer div {
    text-align: center;
  }
  
  .label {
    font-size: 12px;
  }
  
  input[type="datetime-local"] {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: red;
  }
  